body{
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}

.App {
    text-align: center;
}
 
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(8px + 1vmin);
    color: #ffffff;
}
  
.App-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.title{
    font-family: 'Do Hyeon', sans-serif;
}

.box{
    position: relative;
    width: 1px;
    height: 1px;
    transition: all .5s;
}

.item{
    position: absolute;
    right: 0;
    top: -1rem;
    text-align: right;
    line-height: 2rem;
    opacity: 0.5;
    transition: all 1s;
}

.item.active{
    opacity: 1;
    font-size:  1.2rem;
}

.month{
    width: 200px;
    right: -100px;
}

.week{
    width: 400px;
    right: -170px;
}
.day{
    width: 480px;
    right: -240px;
}
  
  
.hour{
    width: 600px;
    right: -300px;
}

.Minute{
    width: 720px;
    right: -370px;
}

.second{
    width: 840px;
    right: -430px;
}
  
  
.msg{
    position: absolute;
    left: 2rem;
    top: 2rem;
    text-align: left;
    line-height: 2rem;
    width: 300px;
}

.msg div{
    opacity: .8;
}

.msg .year{
    margin-bottom: 1rem;
    opacity: 1;
}
  
.msg .year span{
    font-size: 2rem;
}
  
.M_month{
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    font-size: 2rem;
}



@media only screen and (max-width: 600px) {
    .item{
        font-size: 0.7rem;
    }

    .item.active{
        opacity: 1;
        font-size: 0.7rem;
    }

    .month{
        width: 150px;
        right: -60px;
    }

    .week{
        width: 180px;
        right: -110px;
    }
    
    .day{
        width: 320px;
        right: -150px;
    }

    .hour{
        width: 380px;
        right: -180px;
    }

    .Minute{
        width: 460px;
        right: -215px;
    }

    .second{
        width: 530px;
        right: -250px;
    }
}